*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    padding: 10px;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(34, 114, 94), rgba(153, 189, 43, 0.067));
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 5px;

}

.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.todo-app img{
    height: 70px;
    width: 70px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;

}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #e95a33;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

/* pseudo element before */
 ul li::before{   
    content:' ';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image:url(./circle.png) ;
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 10px;

}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image:url(./checked.png) ;

}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;

}

ul li span:hover{
    background: #edeef0;
}